:root {
  --body-bg: #fafafa;
  --box-bg: #fff;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --light-blue: #0095f6;
  --dark-blue: #00376b;
  --fb-color: #385185;
}

.dark {
  --body-bg: #151515;
  --box-bg: #353535;
  --box-border-color: #666565;
  --txt-color: #d2d2d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo img{
  width: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  /* height: 100vh; */
}

.fb-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0095f6;
}

.fb-login img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.fb-login span {
  color: var(--box-bg);
  font-weight: bold;
}

footer {
  text-align: center;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
}

.footer-menu-list a {
  border: 2px solid darkblue;
  padding: 0 8px;
  color: var(--txt-second-color);
}

.copyright {
  margin: 30px 0;
  color: var(--txt-second-color);
}

