* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 3px solid darkblue;
}

.header img {
  width: 200px;
}