:root {
    --body-bg: #fafafa;
    --box-bg: #fff;
    --box-border-color: #dbdbdb;
    --txt-color: #262626;
    --txt-second-color: #8e8e8e;
    --btn-bg: #0095f6;
    --btn-color: #fff;
    --fb-color: #385185;
    --a-color: #00376b;
  }
  
  .dark {
    --body-bg: #151515;
    --box-bg: #151515;
    --box-border-color: #262626;
    --txt-color: #d2d2d2;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 70px auto;
  }
  
  body {
    background-color: var(--body-bg);
  }
  
  
  header {
    width: 400px;
    height: 470px;
    margin: 10px auto;
    border: 2px solid #d2d2d2;
    background-color: #fff;
  }
  
  section {
    margin: 30px auto;
  }
  
  table {
    margin: 30px auto;
  }
  
  table input {
    width: 250px;
    height: 40px;
    margin: 1px auto;
    border: 2px solid #d2d2d2;
  }
  
  table button {
    width: 250px;
    height: 40px;
    margin: 6px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  
  .line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #151515;
    font-size: 14px;
    margin: 8px 0px;
  }
  
  .line::before {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background-color: #8e8e8e;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
  }
  
  .line::after {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background-color: #8e8e8e;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
  }
  
  .png1 img {
    width: 200px;
  }
  
  .png2 img {
    width: 15px;
  }
  
  .png2 strong {
    color: #385185;
  }
  
  
  main {
    width: 400px;
    height: 50px;
    margin: 10px auto;
    border: 2px solid #d2d2d2;
    background-color: #fff;
  }
  
  .wrapper1 {
    margin: 15px;
  }
  
  .wrapper strong {
    color: #00376b;
  }
  
  footer {
    width: 400px;
    height: 90px;
    margin: 20px auto;
    /* border: 2px solid #d2d2d2; */
    /* background-color: #fff; */
  }
  
  footer p {
    margin: 20px;
  }
  
  
  footer p img {
    width: 160px;
  }
  
  .search {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 900px;
    height: 20px;
    margin: 80px auto;
    /* border: 2px solid green; */
    color: #8e8e8e;
  }
  
  .search p {
    margin: 0 10px;
  }
  
  .search1 {
    width: 400px;
    height: 20px;
    margin: -70px auto;
    /* border: 2px solid green; */
    color: #8e8e8e;
  }
  